@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clip-border-width: 0.0625rem;
  --image-clip-path: polygon(0 0, 100% 0, 100% 85%, 80% 100%, 0 100%);
}

@layer utilities {
  .landing-length {
    height: calc(100vh - 13rem);
  }

  .side-space {
    @apply w-4/5 mx-auto max-w-screen-2xl;
  }

  /* Cut Corner Button */ 
  .button-clip {
    @apply absolute z-10 top-0 bottom-0 left-0 right-0 m-[-0.4375rem] bg-primary w-full h-full inline-grid place-content-center;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 85% 100%, 0 100%);
  }

  .button-border-clip {
    @apply relative w-full h-full bg-black isolate before:absolute before:content-[''] before:inset-0 before:bg-white before:z-[-2]
            after:absolute after:content-[''] after:inset-0 after:bg-black after:z-[-1];
    clip-path: polygon(0 0, 100% 0, 100% 45%, 85% 100%, 0 100%);
  }
  
  .button-border-clip::after {
    clip-path: polygon(var(--clip-border-width) var(--clip-border-width),
                calc(100% - var(--clip-border-width)) var(--clip-border-width),
                calc(100% - var(--clip-border-width)) calc(45% - var(--clip-border-width)),
                calc(85% - 1px) calc(100% - var(--clip-border-width)),
                var(--clip-border-width) calc(100% - var(--clip-border-width)));
    transition: clip-path 500ms;
  }

  /* Cut Corner Image */
  .image-clip {
    @apply absolute z-10 top-0 bottom-0 left-0 right-0 -m-4 w-full h-full;
    clip-path: var(--image-clip-path);
  }

  .image-border-clip {
    @apply relative w-full h-full bg-black isolate before:absolute before:content-[''] before:inset-0 before:bg-primary before:z-[-2]
            after:absolute after:content-[''] after:inset-0 after:bg-black after:z-[-1];
    clip-path: var(--image-clip-path);
  }

  .image-border-clip::after {
    clip-path: polygon(var(--clip-border-width) var(--clip-border-width),
                calc(100% - var(--clip-border-width)) var(--clip-border-width),
                calc(100% - var(--clip-border-width)) calc(85% - var(--clip-border-width)),
                calc(80% - 1px) calc(100% - var(--clip-border-width)),
                var(--clip-border-width) calc(100% - var(--clip-border-width)));
    transition: clip-path 500ms;
  }
}